In [13]:
import pandas as pd

In [14]:
#read in csv file
file = "vine_table.csv"

vine_df = pd.read_csv(file)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3I2DHQBR577SS,5.0,0.0,0.0,N,Y
1,R1QNE9NQFJC2Y4,5.0,0.0,0.0,N,Y
2,R3LIDG2Q4LJBAO,5.0,0.0,0.0,N,Y
3,R3KSZHPAEVPEAL,5.0,0.0,0.0,N,Y
4,RAI2OIG50KZ43,5.0,0.0,0.0,N,Y

In [15]:
#filter the data frame for totals votes equal or greater than 20
relevant_vine_df = vine_df[vine_df["total_votes"] >= 20]
relevant_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
212,RZN43XRZ89IIJ,3.0,10.0,27.0,N,N
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N

In [16]:
helpful_vine_df = relevant_vine_df[relevant_vine_df["helpful_votes"]/relevant_vine_df["total_votes"]*100 >= 50]
helpful_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N

In [17]:
vine_yes_df = helpful_vine_df[helpful_vine_df["vine"] == 'Y']
vine_yes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
33773,R106V6GUNWRSSS,5.0,857.0,889.0,Y,N
38256,R37N8KZS48W36A,5.0,36.0,37.0,Y,N
58582,R1LNEQ2MQE03PD,5.0,49.0,66.0,Y,N
61695,R1ECPWPUNK36ES,5.0,29.0,31.0,Y,N
95790,R16BUM7UQZLOM6,3.0,107.0,112.0,Y,N

In [18]:
vine_no_df = helpful_vine_df[helpful_vine_df["vine"] == 'N']
vine_no_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N

In [19]:
#total paid reviews
total_yes_reviews = vine_yes_df.count()[0]
total_yes_reviews

647

In [20]:
#total paid 5-star reviews
five_yes_reviews = vine_yes_df[vine_yes_df['star_rating'] == 5].count()[0]
five_yes_reviews

229

In [21]:
#paid 5 star review percentage
yes_five_star_percent = five_yes_reviews/total_yes_reviews*100
yes_five_star_percent

35.394126738794434

In [22]:
#total unpaid reviews
total_no_reviews = vine_no_df.count()[0]
total_no_reviews

74113

In [23]:
#total unpaid 5 star reviews
five_no_reviews = vine_no_df[vine_no_df['star_rating'] == 5].count()[0]
five_no_reviews

43217

In [24]:
#unpaid 5 star 
no_five_star_percent = five_no_reviews/total_no_reviews*100
no_five_star_percent

58.312306882733125